.site-logo{
    width: 100px;
}
#div_block-21-8,#slide-118-75{
    background-image: url('images/farmer-worker-wide.jpg.jpg') !important;
}
#_header_left-4-70{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#link_button-83-430{
    background-image: url('images/Flag_of_Zimbabwe.svg.png') !important;
    background-repeat: no-repeat;
}
#link_button-86-430{
    background-image: url('images/Flag_of_Ethiopia.svg.png') !important;
    background-repeat: no-repeat;
}